body {
    font-family: monospace;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: rgb(223, 215, 207);
}

main {
    line-height: 1.6;
    color: rgb(4, 4, 79);
    padding: 10px;
}